<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.Platform.Shell" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-105.0.0.0" newVersion="105.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.ReSharper.Psi.CSharp" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-105.0.0.0" newVersion="105.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.ReSharper.Psi.VB" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-105.0.0.0" newVersion="105.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.Platform.ProjectModel" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-105.0.0.0" newVersion="105.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.ReSharper.Resources" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-105.0.0.0" newVersion="105.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.Platform.UI" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-105.0.0.0" newVersion="105.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.Psi.Features.UI" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-105.0.0.0" newVersion="105.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.Platform.Ide" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-105.0.0.0" newVersion="105.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.Platform.Util" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-105.0.0.0" newVersion="105.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.Platform.DocumentModel" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-105.0.0.0" newVersion="105.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.Platform.TextControl" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-105.0.0.0" newVersion="105.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.Platform.Metadata" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-105.0.0.0" newVersion="105.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.ReSharper.Psi" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-105.0.0.0" newVersion="105.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.Annotations" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.1.4.0" newVersion="10.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.ReSharper.Feature.Services" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-105.0.0.0" newVersion="105.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.Platform.ComponentModel" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-105.0.0.0" newVersion="105.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.Platform.DocumentManager" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-105.0.0.0" newVersion="105.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.Platform.Interop.WinApi" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-105.0.0.0" newVersion="105.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.ReSharper.Feature.Services.CSharp" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-105.0.0.0" newVersion="105.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.ReSharper.Feature.Services.VB" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-105.0.0.0" newVersion="105.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.ReSharper.Psi.Web" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-105.0.0.0" newVersion="105.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.Platform.BuildInterfaces" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-105.0.0.0" newVersion="105.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.ReSharper.Psi.Xml" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-105.0.0.0" newVersion="105.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.Platform.Interop" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-105.0.0.0" newVersion="105.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.Platform.Shell.SinceClr4" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-105.0.0.0" newVersion="105.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NuGet.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.10.1.766" newVersion="2.10.1.766" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.ReSharper.Psi.IL" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-105.0.0.0" newVersion="105.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.ReSharper.Psi.BuildScripts" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-105.0.0.0" newVersion="105.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.ReSharper.Psi.Protobuf" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-105.0.0.0" newVersion="105.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.ReSharper.Psi.Resx" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-105.0.0.0" newVersion="105.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.ReSharper.I18n.Services" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-105.0.0.0" newVersion="105.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.ReSharper.I18n.Services.CSharp" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-105.0.0.0" newVersion="105.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.ReSharper.I18n.Services.VB" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-105.0.0.0" newVersion="105.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.ReSharper.Feature.Services.Web" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-105.0.0.0" newVersion="105.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.ReSharper.Psi.Xaml" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-105.0.0.0" newVersion="105.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.ReSharper.Feature.Services.Xaml" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-105.0.0.0" newVersion="105.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.ReSharper.Feature.Services.Xml" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-105.0.0.0" newVersion="105.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.ReSharper.Feature.Services.ExternalSources" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-105.0.0.0" newVersion="105.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.ReSharper.Feature.Services.ExternalSources.CSharp" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-105.0.0.0" newVersion="105.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.Platform.Symbols" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-105.0.0.0" newVersion="105.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.Decompiler.Core" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-105.0.0.0" newVersion="105.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.ReSharper.Feature.Services.Protobuf" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-105.0.0.0" newVersion="105.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.ReSharper.Psi.RegExp" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-105.0.0.0" newVersion="105.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.Platform.Tests.Framework.Projects" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-105.0.0.0" newVersion="105.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.Platform.Tests.Framework.Shell" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-105.0.0.0" newVersion="105.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.Platform.Tests.Framework.UI" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-105.0.0.0" newVersion="105.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.Platform.VisualStudio.Core" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-105.0.0.0" newVersion="105.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.Platform.VisualStudio.SinceVs10" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-105.0.0.0" newVersion="105.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.Platform.VisualStudio.JustVs10" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-105.0.0.0" newVersion="105.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.Platform.Satellite" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-105.0.0.0" newVersion="105.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="PsiGen" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-105.0.0.0" newVersion="105.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.ReSharper.TaskRunnerFramework" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-105.0.0.0" newVersion="105.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>